* {
    box-sizing: border-box;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {
    background: linear-gradient( rgb(8, 87, 1), rgb(12, 255, 12));
    height: 100vh;
}

header h1 {
    color: #fff;
    text-align: center;
    text-shadow: 3px 2px 15px rgb(8, 87, 1);
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form div {
    min-width: 60%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    margin: 0 auto;
}

form label{
    color: #fff;
    font-weight: bold;
}

#editItem{
    width: 60%;
    margin: 0 auto;
    color: #005a0f;
}

#item, #qtde, #preco {
    width: 100%;
    font-size: 25px;
}

#botoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#botoes input {
    width: 50%;
    height: 30px;
    color: #fff;
    border: none;
    cursor: pointer;
}

#addItem{
    background-color: #1ba100;
}

#addItem:hover{
    background-color: #2bff00;
}

#addItem:active{
    background-color: #0e5500;
}

#resetItem{
    background-color: #d30000;
}

#resetItem:hover{
    background-color: #ff0000;
}

#resetItem:active{
    background-color: #720000;
}

#tbOrcamento {
    min-width: 60%;
    border-collapse: collapse;
    border: 2px solid #fff;
    color: #fff;
    box-shadow: 0px 0px 20px #fff;
    margin: 10px auto;
}

#tbOrcamento button{
    width: 100%;
    height: 30px;
    cursor: pointer;
}

#btnEditar, #btnRemover {
    color: #fff;
    border: none;
    
}

#btnEditar{
    background-color: rgb(30, 163, 63);
}

#btnEditar:hover{
    background-color: rgb(0, 121, 30);
}

#btnEditar:active{
    background-color: rgb(0, 77, 19);
}

#btnRemover{
    background-color: red;
}

#btnRemover:hover{
    background-color: rgb(179, 0, 0);
}

#btnRemover:active{
    background-color: rgb(124, 0, 0);
}

#tbOrcamento tfoot{
    text-align: center;
}

#baixar{
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: #008044;
}

#baixar:hover{
    background-color: #00f181;
}

#baixar:active{
    background-color: #004625;
}
